Repository GaryHughes/Exchange: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-part-1-cpp.yml, azure-pipelines-part-1-csharp.yml, azure-pipelines-part-1-fsharp.yml, azure-pipelines-part-1-go.yml, azure-pipelines-part-1-rust.yml, azure-pipelines-part-2-cpp.yml, azure-pipelines-part-2-csharp.yml, azure-pipelines-part-2-fsharp.yml, azure-pipelines-part-2-go.yml, azure-pipelines-part-2-rust.yml

Path conditions:
  azure-pipelines-part-1-cpp.yml: any of: Part 1/cpp_solution, azure-pipelines-part-1-cpp.yml
  azure-pipelines-part-1-csharp.yml: any of: Part 1/csharp_solution, azure-pipelines-part-1-csharp.yml
  azure-pipelines-part-1-fsharp.yml: any of: Part 1/fsharp_solution, azure-pipelines-part-1-fsharp.yml
  azure-pipelines-part-1-go.yml: any of: Part 1/go_solution, azure-pipelines-part-1-go.yml
  azure-pipelines-part-1-rust.yml: any of: Part 1/rust_solution, azure-pipelines-part-1-rust.yml
  azure-pipelines-part-2-cpp.yml: any of: Part 2/cpp_solution, azure-pipelines-part-2-cpp.yml
  azure-pipelines-part-2-csharp.yml: any of: Part 2/csharp_solution, azure-pipelines-part-2-csharp.yml
  azure-pipelines-part-2-fsharp.yml: any of: Part 2/fsharp_solution, azure-pipelines-part-2-fsharp.yml
  azure-pipelines-part-2-go.yml: any of: Part 2/go_solution, azure-pipelines-part-2-go.yml
  azure-pipelines-part-2-rust.yml: any of: Part 2/rust_solution, azure-pipelines-part-2-rust.yml

updated part 1 results
  README.md
  part_1_results.md
Due: none

Build in a container
  azure-pipelines-part-2-rust.yml
Due: azure-pipelines-part-2-rust.yml

Build in a container
  azure-pipelines-part-1-rust.yml
Due: azure-pipelines-part-1-rust.yml

Build in a container
  azure-pipelines-part-2-go.yml
Due: azure-pipelines-part-2-go.yml

Build in a container
  azure-pipelines-part-1-go.yml
Due: azure-pipelines-part-1-go.yml

Install clang.
  Dockerfile
Due: none

updated part 2 results
  README.md
  part_2_results.md
Due: none

Go: split main into its own file
  Part 2/go_solution/exchange.go
  Part 2/go_solution/main.go
Due: azure-pipelines-part-2-go.yml

Add swift.
  benchmark.py
Due: none

Build with clang.
  Part 1/cpp_solution/Makefile
Due: azure-pipelines-part-1-cpp.yml

Build with clang
  Part 2/cpp_solution/Makefile
Due: azure-pipelines-part-2-cpp.yml

Go: refactored order reading into its own thing
  Part 2/go_solution/.golangci.yml
  Part 2/go_solution/main.go
  Part 2/go_solution/order.go
  Part 2/go_solution/order_reader.go
  Part 2/go_solution/order_reader_test.go
  Part 2/go_solution/order_test.go
Due: azure-pipelines-part-2-go.yml

Go: use specialised reader
  Part 2/go_solution/order_reader.go
  Part 2/go_solution/order_reader_test.go
Due: azure-pipelines-part-2-go.yml

Install golang.
  Dockerfile
Due: none

Add a swift pipeline.
  azure-pipelines-part-2-swift.yml
Due: none

Update azure-pipelines-part-2-swift.yml for Azure Pipelines
  azure-pipelines-part-2-swift.yml
Due: none

Add file that needed a force.
  Part 2/swift_solution/Sources/Exchange/main.swift
Due: none

Add the Swift Part 2 badge.
  README-header.md
Due: none

Update azure-pipelines-part-2-benchmark.yml for Azure Pipelines
  azure-pipelines-part-2-benchmark.yml
Due: none

Use swift as the base and install .Net and everything else in that.
  Dockerfile
Due: none

apt-get update first.
  Dockerfile
Due: none

Install apt-utils.
  Dockerfile
Due: none

tell debian to be noninteractive.
  Dockerfile
Due: none

Try a different order.
  Dockerfile
Due: none

Revert to the .net base image.
  Dockerfile
Due: none

Disable swift for now.
  azure-pipelines-part-2-benchmark.yml
Due: none

Revert to g++
  Part 2/cpp_solution/Makefile
Due: azure-pipelines-part-2-cpp.yml

install swift.
  Dockerfile
Due: none

Use the common container.
  azure-pipelines-part-2-swift.yml
Due: none
