Repository GaryHughes/Exchange: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-part-1-cpp.yml, azure-pipelines-part-1-csharp.yml, azure-pipelines-part-1-fsharp.yml, azure-pipelines-part-1-go.yml, azure-pipelines-part-1-rust.yml, azure-pipelines-part-2-cpp.yml, azure-pipelines-part-2-csharp.yml, azure-pipelines-part-2-fsharp.yml, azure-pipelines-part-2-go.yml, azure-pipelines-part-2-rust.yml

azure-pipelines-part-1-cpp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: "sudo apt install -y libboost-all-dev \nmake\nmake check\n"
    workingDirectory: Part 1/cpp_solution
    displayName: make
  - task: CopyFiles@2
    inputs:
      contents: Part 1/cpp_solution/Exchange
      targetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines-part-1-csharp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: dotnet publish --configuration $(buildConfiguration)
    workingDirectory: Part 1/csharp_solution
    displayName: dotnet publish $(buildConfiguration)
  - script: dotnet test --configuration $(buildConfiguration)
    workingDirectory: Part 1/csharp_solution
  ...

azure-pipelines-part-1-fsharp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: dotnet publish --configuration $(buildConfiguration)
    workingDirectory: Part 1/fsharp_solution
    displayName: dotnet pubish $(buildConfiguration)
  - script: dotnet test --configuration $(buildConfiguration)
    workingDirectory: Part 1/fsharp_solution
  ...

azure-pipelines-part-1-go.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'mkdir -p ''$(GOBIN)''
  
      mkdir -p ''$(GOPATH)/pkg''
  
      mkdir -p ''$(modulePath)''
  
      shopt -s extglob
  
      shopt -s dotglob
  
      mv !(gopath) ''$(modulePath)''
  
      echo ''##vso[task.prependpath]$(GOBIN)''
  
  ...

azure-pipelines-part-1-rust.yml:
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'curl https://sh.rustup.rs -sSf | sh -s -- -y
  
      echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
  
      '
    displayName: Install rust
    workingDirectory: Part 1/rust_solution
  - script: cargo build --release
  ...

azure-pipelines-part-2-cpp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: "sudo apt install -y libboost-all-dev \nmake check\n"
    workingDirectory: Part 2/cpp_solution
    displayName: make
  - task: CopyFiles@2
    inputs:
      contents: Part 2/cpp_solution/Exchange
      targetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines-part-2-csharp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    workingDirectory: Part 2/csharp_solution
    displayName: dotnet build $(buildConfiguration)
  - script: dotnet test --configuration $(buildConfiguration)
    workingDirectory: Part 2/csharp_solution
  ...

azure-pipelines-part-2-fsharp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    workingDirectory: Part 2/fsharp_solution
    displayName: dotnet build $(buildConfiguration)
  - script: dotnet test --configuration $(buildConfiguration)
    workingDirectory: Part 2/fsharp_solution
  ...

azure-pipelines-part-2-go.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: go build -v .
    workingDirectory: Part 2/go_solution
    displayName: go build

updated part 1 results
  part_1_results.md
Due: none

Update azure-pipelines-part-2-benchmark.yml for Azure Pipelines
  azure-pipelines-part-2-benchmark.yml
Due: none

updated part 2 results
  part_2_results.md
Due: none

Generate README from a stub and the benchmark results.
  README-header.md
  generate_README.sh
Due: none

Update azure-pipelines-part-1-benchmark.yml for Azure Pipelines
  azure-pipelines-part-1-benchmark.yml
Due: none

updated part 1 results
  README.md
  part_1_results.md
Due: none

Ignore ionide files
  .gitignore
Due: none

format fix.
  generate_README.sh
Due: none

Improve formatting.
  benchmark.py
Due: none

Add notes.
  README-header.md
Due: none

Add space between tables.
  benchmark.py
Due: none

Improve table headers.
  benchmark.py
Due: none

updated part 2 results
  README.md
  part_2_results.md
Due: none

Add build badges for the benchmarks.
  README_part_1_header.md
  README_part_2_header.md
  generate_README.sh
Due: none

Formatting fix.
  README_part_1_header.md
  README_part_2_header.md
Due: none

Add more space.
  README_part_1_header.md
  README_part_2_header.md
Due: none

Use a better data structure.
  Part 2/csharp_solution/Exchange.Tests/OrderBookTests.cs
  Part 2/csharp_solution/Exchange/Exchange.csproj
  Part 2/csharp_solution/Exchange/OrderBook.cs
Due: azure-pipelines-part-2-csharp.yml

An actually faster priority queue.
  Part 2/csharp_solution/Exchange/Exchange.csproj
  Part 2/csharp_solution/Exchange/OrderBook.cs
Due: azure-pipelines-part-2-csharp.yml

Preallocate for a bit more speed.
  Part 2/csharp_solution/Exchange/OrderBook.cs
Due: azure-pipelines-part-2-csharp.yml

Faster comparisons.
  Part 2/csharp_solution/Exchange/OrderBook.cs
Due: azure-pipelines-part-2-csharp.yml

Use a faster priority queue.
  Part 2/fsharp_solution/Exchange/Exchange.fsproj
  Part 2/fsharp_solution/Exchange/Program.fs
Due: azure-pipelines-part-2-fsharp.yml

Speed up by avoiding allocations when parsing.
  Part 2/csharp_solution/Exchange.Tests/OrderBookTests.cs
  Part 2/csharp_solution/Exchange.Tests/OrderTests.cs
  Part 2/csharp_solution/Exchange/Order.cs
Due: azure-pipelines-part-2-csharp.yml

Path conditions:
  azure-pipelines-part-1-cpp.yml: any of: Part 1/cpp_solution, azure-pipelines-part-1-cpp.yml
  azure-pipelines-part-1-csharp.yml: any of: Part 1/csharp_solution, azure-pipelines-part-1-csharp.yml
  azure-pipelines-part-1-fsharp.yml: any of: Part 1/fsharp_solution, azure-pipelines-part-1-fsharp.yml
  azure-pipelines-part-1-go.yml: any of: Part 1/go_solution, azure-pipelines-part-1-go.yml
  azure-pipelines-part-1-rust.yml: any of: Part 1/rust_solution, azure-pipelines-part-1-rust.yml
  azure-pipelines-part-2-cpp.yml: any of: Part 2/cpp_solution, azure-pipelines-part-2-cpp.yml
  azure-pipelines-part-2-csharp.yml: any of: Part 2/csharp_solution, azure-pipelines-part-2-csharp.yml
  azure-pipelines-part-2-fsharp.yml: any of: Part 2/fsharp_solution, azure-pipelines-part-2-fsharp.yml
  azure-pipelines-part-2-go.yml: any of: Part 2/go_solution
  azure-pipelines-part-2-rust.yml: any of: Part 2/rust_solution, azure-pipelines-part-2-rust.yml
