Repository GaryHughes/Exchange: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-part-1-cpp.yml, azure-pipelines-part-1-csharp.yml, azure-pipelines-part-1-fsharp.yml, azure-pipelines-part-1-go.yml, azure-pipelines-part-1-java.yml, azure-pipelines-part-1-rust.yml, azure-pipelines-part-1-swift.yml, azure-pipelines-part-2-cpp.yml, azure-pipelines-part-2-csharp.yml, azure-pipelines-part-2-fsharp.yml, azure-pipelines-part-2-go.yml, azure-pipelines-part-2-java.yml, azure-pipelines-part-2-rust.yml, azure-pipelines-part-2-swift.yml

Path conditions:
  azure-pipelines-part-1-cpp.yml: any of: Part 1/cpp_solution, azure-pipelines-part-1-cpp.yml
  azure-pipelines-part-1-csharp.yml: any of: Part 1/csharp_solution, azure-pipelines-part-1-csharp.yml
  azure-pipelines-part-1-fsharp.yml: any of: Part 1/fsharp_solution, azure-pipelines-part-1-fsharp.yml
  azure-pipelines-part-1-go.yml: any of: Part 1/go_solution, azure-pipelines-part-1-go.yml
  azure-pipelines-part-1-java.yml: any of: Part 1/java_solution, azure-pipelines-part-1-java.yml
  azure-pipelines-part-1-rust.yml: any of: Part 1/rust_solution, azure-pipelines-part-1-rust.yml
  azure-pipelines-part-1-swift.yml: any of: Part 1/swift_solution, azure-pipelines-part-1-swift.yml
  azure-pipelines-part-2-cpp.yml: any of: Part 2/cpp_solution, azure-pipelines-part-2-cpp.yml
  azure-pipelines-part-2-csharp.yml: any of: Part 2/csharp_solution, azure-pipelines-part-2-csharp.yml
  azure-pipelines-part-2-fsharp.yml: any of: Part 2/fsharp_solution, azure-pipelines-part-2-fsharp.yml
  azure-pipelines-part-2-go.yml: any of: Part 2/go_solution, azure-pipelines-part-2-go.yml
  azure-pipelines-part-2-java.yml: any of: Part 2/java_solution, azure-pipelines-part-2-java.yml
  azure-pipelines-part-2-rust.yml: any of: Part 2/rust_solution, azure-pipelines-part-2-rust.yml
  azure-pipelines-part-2-swift.yml: any of: Part 2/swift_solution, azure-pipelines-part-2-swift.yml

updated part 1 results
  README.md
  part_1_results.md
Due: none

Remove print - ends up in the table.
  benchmark.py
Due: none

updated part 2 results
  README.md
  part_2_results.md
Due: none

Recycle orders and reduce allocations.
  Part 2/java_solution/src/com/geh/Exchange/Main.java
  Part 2/java_solution/src/com/geh/Exchange/Order.java
  Part 2/java_solution/src/com/geh/Exchange/OrderBook.java
Due: azure-pipelines-part-2-java.yml

Faster output.
  Part 2/java_solution/src/com/geh/Exchange/Main.java
Due: azure-pipelines-part-2-java.yml

Replace BigDecimal with double.
  Part 2/java_solution/Test/com/geh/Exchange/OrderBookTest.java
  Part 2/java_solution/src/com/geh/Exchange/Main.java
  Part 2/java_solution/src/com/geh/Exchange/Order.java
  Part 2/java_solution/src/com/geh/Exchange/OrderBook.java
  Part 2/java_solution/src/com/geh/Exchange/Trade.java
Due: azure-pipelines-part-2-java.yml

decimal -> double.
  Part 2/csharp_solution/Exchange/Order.cs
  Part 2/csharp_solution/Exchange/Trade.cs
Due: azure-pipelines-part-2-csharp.yml

Fix tests/
  Part 2/csharp_solution/Exchange.Tests/OrderBookTests.cs
  Part 2/csharp_solution/Exchange.Tests/OrderTests.cs
Due: azure-pipelines-part-2-csharp.yml

Cache strings.
  Part 2/csharp_solution/Exchange/Order.cs
Due: azure-pipelines-part-2-csharp.yml

Reduce copying.
  Part 2/csharp_solution/Exchange/Order.cs
Due: azure-pipelines-part-2-csharp.yml

Faster input.
  Part 2/csharp_solution/Exchange/Program.cs
Due: azure-pipelines-part-2-csharp.yml

A swift version that can process the large test files before the heat death of the universe.
  Part 2/swift_solution/Package.swift
  Part 2/swift_solution/Sources/ExchangeLib/Exchange.swift
  Part 2/swift_solution/Sources/ExchangeLib/Heap.swift
  Part 2/swift_solution/Sources/ExchangeLib/Order.swift
  Part 2/swift_solution/Sources/ExchangeLib/OrderBook.swift
  Part 2/swift_solution/Sources/ExchangeLib/PriorityQueue.swift
  Part 2/swift_solution/Sources/ExchangeLib/Trade.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/ExchangeTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/OrderBookTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/OrderTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/TradeTests.swift
  Part 2/swift_solution/runner
Due: azure-pipelines-part-2-swift.yml

Swift part 2
  azure-pipelines-part-2-swift.yml
Due: azure-pipelines-part-2-swift.yml

force add file
  Part 2/swift_solution/Sources/Exchange/main.swift
Due: azure-pipelines-part-2-swift.yml

Swift part 2 build badge.
  README-header.md
Due: none

Put back the linux unit test plumbing.
  Part 2/swift_solution/Tests/ExchangeLibTests/ExchangeTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/OrderBookTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/OrderTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/TradeTests.swift
  Part 2/swift_solution/Tests/LinuxMain.swift
Due: azure-pipelines-part-2-swift.yml

use 'swift test --generate-linuxmain' to create the test plumbing for linux.
  Part 2/swift_solution/LinuxMain.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/ExchangeTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/OrderBookTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/OrderTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/TradeTests.swift
  Part 2/swift_solution/Tests/LinuxMain.swift
  Part 2/swift_solution/Tests/XCTestManifests.swift
Due: azure-pipelines-part-2-swift.yml

Include the swift part 2 build.
  azure-pipelines-part-2-benchmark.yml
Due: none

Faster parsing.
  Part 2/swift_solution/Sources/Exchange/main.swift
  Part 2/swift_solution/Sources/ExchangeLib/Order.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/ExchangeTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/OrderBookTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/OrderTests.swift
Due: azure-pipelines-part-2-swift.yml

Reduce copying.
  Part 2/cpp_solution/order.cpp
  Part 2/cpp_solution/order.h
Due: azure-pipelines-part-2-cpp.yml

First cut at a Shell solution
  Part 1/README.md
  Part 1/v7shell_solution/README.md
  Part 1/v7shell_solution/exchange.sh
Due: none

.NET Core 3.1, clang 10, build both cpp solutions with clang.
  Dockerfile
  Part 1/cpp_solution/Makefile
  Part 2/cpp_solution/Makefile
Due: azure-pipelines-part-1-cpp.yml, azure-pipelines-part-2-cpp.yml
