Repository GaryHughes/Exchange: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-part-1-cpp.yml, azure-pipelines-part-1-csharp.yml, azure-pipelines-part-1-fsharp.yml, azure-pipelines-part-1-go.yml, azure-pipelines-part-1-rust.yml, azure-pipelines-part-2-cpp.yml, azure-pipelines-part-2-csharp.yml, azure-pipelines-part-2-fsharp.yml, azure-pipelines-part-2-go.yml, azure-pipelines-part-2-rust.yml

azure-pipelines-part-1-cpp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: "sudo apt install -y libboost-all-dev \nmake\nmake check\n"
    workingDirectory: Part 1/cpp_solution
    displayName: make
  - task: CopyFiles@2
    inputs:
      contents: Part 1/cpp_solution/Exchange
      targetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines-part-1-csharp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: dotnet publish --configuration $(buildConfiguration)
    workingDirectory: Part 1/csharp_solution
    displayName: dotnet publish $(buildConfiguration)
  - script: dotnet test --configuration $(buildConfiguration)
    workingDirectory: Part 1/csharp_solution
  ...

azure-pipelines-part-1-fsharp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: dotnet publish --configuration $(buildConfiguration)
    workingDirectory: Part 1/fsharp_solution
    displayName: dotnet pubish $(buildConfiguration)
  - script: dotnet test --configuration $(buildConfiguration)
    workingDirectory: Part 1/fsharp_solution
  ...

azure-pipelines-part-1-go.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'mkdir -p ''$(GOBIN)''
  
      mkdir -p ''$(GOPATH)/pkg''
  
      mkdir -p ''$(modulePath)''
  
      shopt -s extglob
  
      shopt -s dotglob
  
      mv !(gopath) ''$(modulePath)''
  
      echo ''##vso[task.prependpath]$(GOBIN)''
  
  ...

azure-pipelines-part-1-rust.yml:
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'curl https://sh.rustup.rs -sSf | sh -s -- -y
  
      echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
  
      '
    displayName: Install rust
    workingDirectory: Part 1/rust_solution
  - script: cargo build --release
  ...

azure-pipelines-part-2-cpp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: "sudo apt-get update\nsudo apt autoremove\nsudo apt install -y libboost-all-dev\nmake \nmake check\n"
    workingDirectory: Part 2/cpp_solution
    displayName: make
  - task: CopyFiles@2
    inputs:
      contents: Part 2/cpp_solution/Exchange
  ...

azure-pipelines-part-2-csharp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    workingDirectory: Part 2/csharp_solution
    displayName: dotnet build $(buildConfiguration)
  - script: dotnet test --configuration $(buildConfiguration)
    workingDirectory: Part 2/csharp_solution
  ...

azure-pipelines-part-2-fsharp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    workingDirectory: Part 2/fsharp_solution
    displayName: dotnet build $(buildConfiguration)
  - script: dotnet test --configuration $(buildConfiguration)
    workingDirectory: Part 2/fsharp_solution
  ...

azure-pipelines-part-2-go.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: go build -v .
    workingDirectory: Part 2/go_solution
    displayName: go build

Reduce copying.
  Part 2/cpp_solution/exchange.cpp
  Part 2/cpp_solution/exchange.h
  Part 2/cpp_solution/main.cpp
  Part 2/cpp_solution/order.cpp
  Part 2/cpp_solution/order.h
  Part 2/cpp_solution/order_book.cpp
Due: azure-pipelines-part-2-cpp.yml

Fix tests.
  Part 2/cpp_solution/exchange_tests.cpp
  Part 2/cpp_solution/order_book_tests.cpp
  Part 2/cpp_solution/order_tests.cpp
Due: azure-pipelines-part-2-cpp.yml

updated part 2 results
  README.md
  part_2_results.md
Due: none

pritnf instead of ostream.
  Part 2/cpp_solution/Makefile
  Part 2/cpp_solution/main.cpp
  Part 2/cpp_solution/trade.cpp
  Part 2/cpp_solution/trade.h
  Part 2/cpp_solution/trade_collection.cpp
  Part 2/cpp_solution/trade_collection.h
Due: azure-pipelines-part-2-cpp.yml

Don't copy the instrument into the trade.
  Part 2/cpp_solution/main.cpp
  Part 2/cpp_solution/order_book.cpp
  Part 2/cpp_solution/trade.cpp
  Part 2/cpp_solution/trade.h
Due: azure-pipelines-part-2-cpp.yml

Update azure-pipelines-part-1-go.yml for Azure Pipelines
  azure-pipelines-part-1-go.yml
Due: azure-pipelines-part-1-go.yml

Add go runner.
  Part 1/go_solution/runner
Due: azure-pipelines-part-1-go.yml

updated part 1 results
  README.md
  part_1_results.md
Due: none

Update azure-pipelines-part-2-go.yml for Azure Pipelines
  azure-pipelines-part-2-go.yml
Due: none

Update azure-pipelines-part-1-benchmark.yml for Azure Pipelines
  azure-pipelines-part-1-benchmark.yml
Due: none

Update azure-pipelines-part-2-benchmark.yml for Azure Pipelines
  azure-pipelines-part-2-benchmark.yml
Due: none

Add go runner.
  Part 2/go_solution/runner
Due: azure-pipelines-part-2-go.yml

Update Go ports with readme files and exe name changes
  .gitignore
  Part 1/go_solution/README.md
  Part 1/go_solution/go.mod
  Part 1/go_solution/runner
  Part 2/go_solution/README.md
  Part 2/go_solution/go.mod
  Part 2/go_solution/orderqueue_test.go
  Part 2/go_solution/runner
  azure-pipelines-part-1-go.yml
  azure-pipelines-part-2-go.yml
Due: azure-pipelines-part-1-go.yml, azure-pipelines-part-2-go.yml

Go: reduce copying of orders
  Part 2/go_solution/exchange.go
  Part 2/go_solution/orderbook.go
  Part 2/go_solution/orderbook_test.go
Due: azure-pipelines-part-2-go.yml

Bring swift implementation inline with new structure.
  Exchange
  Part 2/swift_solution/Package.swift
  Part 2/swift_solution/Sources/ExchangeLib/Exchange.swift
  Part 2/swift_solution/Sources/ExchangeLib/Order.swift
  Part 2/swift_solution/Sources/ExchangeLib/OrderBook.swift
  Part 2/swift_solution/Sources/ExchangeLib/Trade.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/ExchangeTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/OrderBookTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/OrderTests.swift
  Part 2/swift_solution/Tests/ExchangeLibTests/TradeTests.swift
  Part 2/swift_solution/Tests/LinuxMain.swift
  Part 2/swift_solution/instructions.txt
  Part 2/swift_solution/performance.txt
  Sources/Exchange/main.swift
  example1.txt
  example2.txt
  example3.txt
Due: none

Moved.
  performance.txt
Due: none

Get compiling.
  Part 2/swift_solution/Package.swift
  Part 2/swift_solution/Sources/ExchangeLib/OrderBook.swift
  Part 2/swift_solution/runner
Due: none

Ignore the swift build.
  .gitignore
Due: none

Specify a specific vmImage and container.
  azure-pipelines-part-1-cpp.yml
Due: azure-pipelines-part-1-cpp.yml

Dockerfile to build and run benchmarks in, C++ only for now.
  Dockerfile
Due: none

Build in a docker container, no need to install tools now.
  azure-pipelines-part-1-cpp.yml
Due: azure-pipelines-part-1-cpp.yml

Fix the container name
  azure-pipelines-part-1-cpp.yml
Due: azure-pipelines-part-1-cpp.yml

Build in a container.
  azure-pipelines-part-2-cpp.yml
Due: azure-pipelines-part-2-cpp.yml

Use the microsoft .net core sdk as the base.
  Dockerfile
Due: none

Build in a container.
  azure-pipelines-part-1-csharp.yml
Due: azure-pipelines-part-1-csharp.yml

Build in a container
  azure-pipelines-part-1-fsharp.yml
Due: azure-pipelines-part-1-fsharp.yml

build in a container
  azure-pipelines-part-2-csharp.yml
Due: azure-pipelines-part-2-csharp.yml

Run in a container
  azure-pipelines-part-2-fsharp.yml
Due: azure-pipelines-part-2-fsharp.yml

Path conditions:
  azure-pipelines-part-1-cpp.yml: any of: Part 1/cpp_solution, azure-pipelines-part-1-cpp.yml
  azure-pipelines-part-1-csharp.yml: any of: Part 1/csharp_solution, azure-pipelines-part-1-csharp.yml
  azure-pipelines-part-1-fsharp.yml: any of: Part 1/fsharp_solution, azure-pipelines-part-1-fsharp.yml
  azure-pipelines-part-1-go.yml: any of: Part 1/go_solution, azure-pipelines-part-1-go.yml
  azure-pipelines-part-1-rust.yml: any of: Part 1/rust_solution, azure-pipelines-part-1-rust.yml
  azure-pipelines-part-2-cpp.yml: any of: Part 2/cpp_solution, azure-pipelines-part-2-cpp.yml
  azure-pipelines-part-2-csharp.yml: any of: Part 2/csharp_solution, azure-pipelines-part-2-csharp.yml
  azure-pipelines-part-2-fsharp.yml: any of: Part 2/fsharp_solution, azure-pipelines-part-2-fsharp.yml
  azure-pipelines-part-2-go.yml: any of: Part 2/go_solution
  azure-pipelines-part-2-rust.yml: any of: Part 2/rust_solution, azure-pipelines-part-2-rust.yml
