Repository GaryHughes/Exchange: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-part-1-cpp.yml, azure-pipelines-part-1-csharp.yml, azure-pipelines-part-1-fsharp.yml, azure-pipelines-part-1-go.yml, azure-pipelines-part-1-rust.yml, azure-pipelines-part-2-cpp.yml, azure-pipelines-part-2-csharp.yml, azure-pipelines-part-2-go.yml

Path conditions:
  azure-pipelines-part-1-cpp.yml: any of: Part 1/cpp_solution, azure-pipelines-part-1-cpp.yml
  azure-pipelines-part-1-csharp.yml: any of: Part 1/csharp_solution, azure-pipelines-part-1-csharp.yml
  azure-pipelines-part-1-fsharp.yml: any of: Part 1/fsharp_solution, azure-pipelines-part-1-fsharp.yml
  azure-pipelines-part-1-go.yml: any of: Part 1/go_solution, azure-pipelines-part-1-go.yml
  azure-pipelines-part-1-rust.yml: any of: Part 1/rust_solution, azure-pipelines-part-1-rust.yml
  azure-pipelines-part-2-cpp.yml: any of: Part 2/cpp_solution, azure-pipelines-part-2-cpp.yml
  azure-pipelines-part-2-csharp.yml: any of: Part 2/csharp_solution, azure-pipelines-part-2-csharp.yml
  azure-pipelines-part-2-go.yml: any of: Part 2/go_solution

updated part 1 results
  part_1_results.md
Due: none

explicitly give the runner script execute permissions.
  benchmark.py
Due: none

Update azure-pipelines-part-1-benchmark.yml for Azure Pipelines
  azure-pipelines-part-1-benchmark.yml
Due: none

fix the runner chmod.
  benchmark.py
Due: none

chmod all artefact files.
  benchmark.py
Due: none

Debug cleanup.
  benchmark.py
Due: none

Format the output.
  benchmark.py
Due: none

Format the timestamps.
  benchmark.py
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-part-2-benchmark.yml
Due: none

Update azure-pipelines-part-2-benchmark.yml for Azure Pipelines
  azure-pipelines-part-2-benchmark.yml
Due: none

updated part 2 results
  part_2_results.md
Due: none

Update azure-pipelines-part-2-csharp.yml for Azure Pipelines
  azure-pipelines-part-2-csharp.yml
Due: azure-pipelines-part-2-csharp.yml

Update azure-pipelines-part-2-fsharp.yml for Azure Pipelines
  azure-pipelines-part-2-fsharp.yml
Due: none

Update azure-pipelines-part-2-rust.yml for Azure Pipelines
  azure-pipelines-part-2-rust.yml
Due: none

Update azure-pipelines-part-2-cpp.yml for Azure Pipelines
  azure-pipelines-part-2-cpp.yml
Due: azure-pipelines-part-2-cpp.yml

Add run scripts.
  Part 2/cpp_solution/runner
  Part 2/csharp_solution/runner
  Part 2/fsharp_solution/runner
  Part 2/rust_solution/runner
Due: azure-pipelines-part-2-cpp.yml, azure-pipelines-part-2-csharp.yml

Update azure-pipelines-part-1-cpp.yml for Azure Pipelines
  azure-pipelines-part-1-cpp.yml
Due: azure-pipelines-part-1-cpp.yml
